<carousel>
    <slide>
      <img src="assets/Image2.jpeg" alt="first slide" style="display: block; width: 100%;height:250px ;">
      <div class="carousel-caption d-none d-md-block">
      
      </div>
    </slide>
    <slide>
      <img src="assets/Image3.jpeg" alt="second slide" style="display: block; width: 100%;height:250px ;">
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </slide>
    <slide>
      <img src="assets/Image1.jpeg" alt="third slide" style="display: block; width: 100%;height:250px ;">
      <div class="carousel-caption d-none d-md-block">
       
      </div>
    </slide>
  </carousel>
