#warning{
    margin-left: 10px;

}
#card{
    margin-top: 20px;
    margin-left: 20px;
    width:850px
}
#side-card{
    margin-top: 20px;
    margin-left: 20px;
    width:340px;
    height: 240px;
}
h4{
    color:rgb(36, 85, 204);
    margin-left: 7px;
}
#title{
    margin-top: 5px;
    margin-left: 17px;
    font-size: 33px;
    font-family: "Raleway", Helvetica;
}
#submit{
    padding-left: 2.5rem;
     padding-right: 2.5rem;
     margin-bottom: 7px;
     margin-left: 4px;
    background-color:gold;
    color:black;
}