#main-title{
    color:white;
    font-size:1.7rem ;
}
#cart-icon{
    color:white;
    font-size:35px;
}
#account-icon{
    margin: auto;
    color:white;
   font-size: 28px;
}
#signin-span{
    margin: auto;
    color:white;
    font-size: 20px;
    margin-left: 10px;
    
}
#main-search{
    width: 500px;
  
}
#search-button{
    color:white;
    background-color: gold;
    font-size:20px;
    margin-left:2px ;
}
#search-icon{
    color:black;
    font-size:30px;
}
#menu{
    height:10px;
    background-color:#06254d ;
}
#menu-icon{
    color:white;
    font-size:27px;
}
h3{
    margin-top: auto;
    margin-bottom: auto;
    margin-right:10px ; 
    color: white;
}

mat-sidenav-container{
    height:458px;
   
}
mat-sidenav{
    width: 250px;
}

#main-content{
    position:relative;
    top:30px;
}
