#cart {
    font-size: 30px;
    margin-right: 3px;
    margin-bottom: 3px;
}

#cart-icon {
    font-size: 30px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.discount-label {
    padding: 4px;
    position: relative;
    float: left;
}
.discount-label span {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: "Raleway", Helvetica;
}
.red {
    background-color: #E80707;
}

